<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ddpl.cipot">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logotrans"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logotrans"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeSiswaActivity" />
        <activity android:name=".ProfilSiswaActivity" />
        <activity android:name=".IndikatorKemampuanActivity" />
        <activity android:name=".IndikatorKemampuanDetail" />
        <activity android:name=".LaporanSemester" />
        <activity android:name=".HomeGuruActivity"></activity>
    </application>

</manifest>